In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [5]:
x = df.drop(['RowNumber','CustomerId' , 'Exited'],axis =1)
y = df['Exited']

In [6]:
x.head()

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
x.nunique()

Surname            2932
CreditScore         460
Geography             3
Gender                2
Age                  70
Tenure               11
Balance            6382
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    9999
dtype: int64

In [10]:
geo = pd.get_dummies(x['Geography'], drop_first = True)
sex = pd.get_dummies(x['Gender'], drop_first = True)

In [11]:
x.drop(['Surname', 'Geography', 'Gender'], axis =1 , inplace =True)

In [12]:
x= pd.concat([x,geo,sex], axis = 1)

In [13]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x = sc.fit_transform(x)

x_train, x_test , y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [17]:
#importing neural network libraries

import keras 
from keras.models import Sequential                        # model creation
from keras.layers import Dense                             # Creating neural layers/ hidden layer
from keras.layers import LeakyReLU, ELU, PReLU
from keras.layers import Dropout

In [54]:
model = Sequential()                        # creating Model

In [55]:
#adding first hidden layer of the neural network with 6 nodes and 11 input nodes.
model.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu', input_dim = 11))

In [56]:
#adding second hidden layer of the neural network with 6 nodes (no input nodes are required to be mentioned).
model.add(Dense(units = 9, kernel_initializer = 'he_uniform', activation = 'relu'))

#adding dropuot to the second hidden layer to reduce overfitting (30% of the nodes will not send the signal)
model.add(Dropout(0.3))

In [57]:
#adding third hidden layer of the neural network with 6 nodes (no input nodes are required to be mentioned).
model.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu'))

In [58]:
#adding output layer of the neural network with 1 node for binary classification.
model.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [59]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_16 (Dense)             (None, 9)                 63
_________________________________________________________________
dropout (Dropout)            (None, 9)                 0
_________________________________________________________________
dense_17 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 7
=================================================================
Total params: 202
Trainable params: 202
Non-trainable params: 0
_________________________________________________________________

In [60]:
#Compiling the model  'binary_crossentropy' for binary classification and  'catagorical_crossentropy' for multivariable classification
model.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [61]:
model_his = model.fit(x_train, y_train, validation_split = 0.33, batch_size = 10, epochs = 15)

Epoch 1/15
536/536 [==============================] - 2s 3ms/step - loss: 0.6640 - accuracy: 0.7087 - val_loss: 0.5032 - val_accuracy: 0.7982
Epoch 2/15
536/536 [==============================] - 1s 2ms/step - loss: 0.4918 - accuracy: 0.7975 - val_loss: 0.4801 - val_accuracy: 0.7986
Epoch 3/15
536/536 [==============================] - 2s 3ms/step - loss: 0.4747 - accuracy: 0.8010 - val_loss: 0.4665 - val_accuracy: 0.8042
Epoch 4/15
536/536 [==============================] - 2s 3ms/step - loss: 0.4629 - accuracy: 0.8001 - val_loss: 0.4557 - val_accuracy: 0.8039
Epoch 5/15
536/536 [==============================] - 2s 3ms/step - loss: 0.4487 - accuracy: 0.8050 - val_loss: 0.4474 - val_accuracy: 0.8088
Epoch 6/15
536/536 [==============================] - 1s 2ms/step - loss: 0.4414 - accuracy: 0.7961 - val_loss: 0.4404 - val_accuracy: 0.8137
Epoch 7/15
536/536 [==============================] - 1s 3ms/step - loss: 0.4251 - accuracy: 0.8170 - val_loss: 0.4346 - val_accuracy: 0.8167
Epoch 8/15
536/536 [==============================] - 2s 3ms/step - loss: 0.4202 - accuracy: 0.8116 - val_loss: 0.4328 - val_accuracy: 0.8186
Epoch 9/15
536/536 [==============================] - 1s 3ms/step - loss: 0.4333 - accuracy: 0.8106 - val_loss: 0.4265 - val_accuracy: 0.8198
Epoch 10/15
536/536 [==============================] - 1s 3ms/step - loss: 0.4193 - accuracy: 0.8130 - val_loss: 0.4222 - val_accuracy: 0.8148
Epoch 11/15
536/536 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.8157 - val_loss: 0.4181 - val_accuracy: 0.8228
Epoch 12/15
536/536 [==============================] - 1s 3ms/step - loss: 0.4018 - accuracy: 0.8237 - val_loss: 0.4107 - val_accuracy: 0.8296
Epoch 13/15
536/536 [==============================] - 1s 2ms/step - loss: 0.4227 - accuracy: 0.8217 - val_loss: 0.4035 - val_accuracy: 0.8323
Epoch 14/15
536/536 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8353 - val_loss: 0.3949 - val_accuracy: 0.8372
Epoch 15/15
536/536 [==============================] - 1s 3ms/step - loss: 0.4091 - accuracy: 0.8248 - val_loss: 0.3873 - val_accuracy: 0.8444

In [39]:
print(model_his.history.keys())

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [62]:
model.evaluate(x_test,y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8370

[0.39034923911094666, 0.8370000123977661]

In [64]:
y_pred  = model.predict(x_test)
y_pred = (y_pred >0.5)

In [66]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
print(accuracy_score(y_pred, y_test))
print()

print(confusion_matrix(y_pred, y_test))
print()
print(classification_report(y_pred, y_test))

0.837

[[1528  264]
 [  62  146]]

              precision    recall  f1-score   support

       False       0.96      0.85      0.90      1792
        True       0.36      0.70      0.47       208

    accuracy                           0.84      2000
   macro avg       0.66      0.78      0.69      2000
weighted avg       0.90      0.84      0.86      2000